flows.json
[
    {
        "id": "c7548924a1f35307",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17873f0801fbf0d1",
        "type": "ui_text",
        "z": "c7548924a1f35307",
        "group": "40ed84cd3c966afc",
        "order": 8,
        "width": "1",
        "height": "1",
        "name": "minutes",
        "label": "",
        "format": "{{msg.payload.minutes}}",
        "layout": "row-center",
        "className": "",
        "x": 1600,
        "y": 140,
        "wires": []
    },
    {
        "id": "e69fb31ca5534ecd",
        "type": "ui_button",
        "z": "c7548924a1f35307",
        "name": "",
        "group": "40ed84cd3c966afc",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 640,
        "wires": [
            [
                "f4fca6d1dc44290b",
                "1027386f8e98327e",
                "fba73a1a4dbca5e0"
            ]
        ]
    },
    {
        "id": "e330c9e66e3157eb",
        "type": "inject",
        "z": "c7548924a1f35307",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "d49dd18519f0f708",
                "cbc8dfdb2164696c",
                "7c519c7ae3935c56"
            ]
        ]
    },
    {
        "id": "0f21e9a7072cc28d",
        "type": "ui_button",
        "z": "c7548924a1f35307",
        "name": "",
        "group": "40ed84cd3c966afc",
        "order": 17,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "920d265a377029e5",
                "d49dd18519f0f708",
                "fba73a1a4dbca5e0",
                "0f53948fa0fb64f3"
            ]
        ]
    },
    {
        "id": "e87b35c73ec2e9ba",
        "type": "cron",
        "z": "c7548924a1f35307",
        "name": "every second",
        "crontab": "* * * * * *",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "165149bd4a944ee1"
            ]
        ]
    },
    {
        "id": "f4fca6d1dc44290b",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "disable start & value change",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 740,
        "wires": [
            [
                "e69fb31ca5534ecd",
                "d4bd4b6504cb6cca"
            ]
        ]
    },
    {
        "id": "920d265a377029e5",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "enable start & value change",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 300,
        "wires": [
            [
                "e69fb31ca5534ecd",
                "d4bd4b6504cb6cca"
            ]
        ]
    },
    {
        "id": "d49dd18519f0f708",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "disable reset & stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "0f21e9a7072cc28d",
                "4926de2b369fc630"
            ]
        ]
    },
    {
        "id": "1027386f8e98327e",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "enable reset & stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 520,
        "wires": [
            [
                "0f21e9a7072cc28d",
                "4926de2b369fc630"
            ]
        ]
    },
    {
        "id": "4926de2b369fc630",
        "type": "ui_button",
        "z": "c7548924a1f35307",
        "name": "",
        "group": "40ed84cd3c966afc",
        "order": 12,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "df174f47d2d52ccf",
                "fba73a1a4dbca5e0",
                "30eb7b4c07e12f29"
            ]
        ]
    },
    {
        "id": "df174f47d2d52ccf",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "disable stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 360,
        "wires": [
            [
                "4926de2b369fc630"
            ]
        ]
    },
    {
        "id": "fba73a1a4dbca5e0",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "set timerIsActive",
        "rules": [
            {
                "t": "set",
                "p": "timerIsActive",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "0f53948fa0fb64f3",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "reset timer",
        "rules": [
            {
                "t": "set",
                "p": "timerValue",
                "pt": "global",
                "to": "initTimerValue",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 180,
        "wires": [
            [
                "45a0fd8edf196e38",
                "8e1f315923aba71e"
            ]
        ]
    },
    {
        "id": "98d5b9191290d289",
        "type": "function",
        "z": "c7548924a1f35307",
        "name": "reduce timer value",
        "func": "// reduce timer value by one second\nconst previousTimerValue = global.get(\"timerValue\");\nconst nextTimerValue = previousTimerValue - 1;\nglobal.set(\"timerValue\", nextTimerValue);\nif(nextTimerValue === 0){\n    global.set(\"timerIsActive\", false)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 120,
        "wires": [
            [
                "45a0fd8edf196e38",
                "6f7a1231a65591fa"
            ]
        ]
    },
    {
        "id": "45a0fd8edf196e38",
        "type": "function",
        "z": "c7548924a1f35307",
        "name": "convert seconds to time",
        "func": "// get number of minutes and seconds of current time\nlet timeInSeconds = global.get(\"timerValue\");\nlet seconds = timeInSeconds%60;\nlet minutes = (timeInSeconds-seconds)/60;\n\nlet secondsAsString = seconds.toString();\nif(seconds < 10){\n    secondsAsString = \"0\" + secondsAsString;\n}\nlet minutesAsString = minutes.toString();\nif(minutes < 10 ){\n    minutesAsString = \"0\" + minutesAsString; \n}\n\nmsg.payload = {};\nmsg.payload.minutes = minutesAsString;\nmsg.payload.delimiter = \":\";\nmsg.payload.seconds = secondsAsString;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 180,
        "wires": [
            [
                "17873f0801fbf0d1",
                "c692fdd3450d2861",
                "563a3ac98f314012"
            ]
        ]
    },
    {
        "id": "6f7a1231a65591fa",
        "type": "switch",
        "z": "c7548924a1f35307",
        "name": "is timer active",
        "property": "timerIsActive",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 680,
        "y": 100,
        "wires": [
            [
                "9e40d04fb8d7b469"
            ],
            [
                "df174f47d2d52ccf",
                "377449307b54d38e"
            ]
        ]
    },
    {
        "id": "377449307b54d38e",
        "type": "function",
        "z": "c7548924a1f35307",
        "name": "red blinking",
        "func": "let data;\nif(global.get('isBeepActive')){\n    data = {\"ioLink\":{\"valid\":true,\"value\":[170,170,170,1,6,0,184,127]}}\n} else {\n    data = {\"ioLink\":{\"valid\":true,\"value\":[170,170,10,1,6,0,184,0]}}\n}\n\nreturn {payload: data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 100,
        "wires": [
            [
                "d249ad4a4f04c14e"
            ]
        ]
    },
    {
        "id": "8e1f315923aba71e",
        "type": "function",
        "z": "c7548924a1f35307",
        "name": "static white",
        "func": "// set initial smartlight color\nvar data = {\"ioLink\":{\"valid\":true,\"value\":[119,119,39,1,5,0,0,0]}}\nreturn {payload: data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 220,
        "wires": [
            [
                "d249ad4a4f04c14e"
            ]
        ]
    },
    {
        "id": "9e40d04fb8d7b469",
        "type": "function",
        "z": "c7548924a1f35307",
        "name": "level modus",
        "func": "// get initial and current timer value\nconst initTimerValue = global.get(\"initTimerValue\");\nconst timerValue = global.get(\"timerValue\");\n// calculate the smartlight level\nconst map = (value, x1, y1, x2, y2) => (value - x1) * (y2 - x2) / (y1 - x1) + x2;\nconst level = Math.ceil(map(timerValue, 0, initTimerValue, 0, 255));\n// set defined colors\nconst firstByte = global.get(\"segment1Color\") + global.get(\"segment2Color\");\nconst secondByte = global.get(\"segment3Color\") + global.get(\"segment4Color\");\nconst thirdByte = global.get(\"segment5Color\") + 32;\n// set smartlight data\nconst data = {\"ioLink\":{\"valid\":true,\"value\":[firstByte,secondByte,thirdByte,2,2,0,level,0]}}\nreturn {payload: data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 40,
        "wires": [
            [
                "d249ad4a4f04c14e"
            ]
        ]
    },
    {
        "id": "cbc8dfdb2164696c",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "set initial timer values",
        "rules": [
            {
                "t": "set",
                "p": "initTimerValue",
                "pt": "global",
                "to": "900",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "timerIsActive",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "isBeepActive",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 180,
        "wires": [
            [
                "0f53948fa0fb64f3",
                "920d265a377029e5"
            ]
        ]
    },
    {
        "id": "3b2a6beff4858e1e",
        "type": "http request",
        "z": "c7548924a1f35307",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1410,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "165149bd4a944ee1",
        "type": "switch",
        "z": "c7548924a1f35307",
        "name": "is timer active",
        "property": "timerIsActive",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "98d5b9191290d289"
            ]
        ]
    },
    {
        "id": "0fb4a6fa07419e91",
        "type": "ui_button",
        "z": "c7548924a1f35307",
        "name": "increase minutes",
        "group": "40ed84cd3c966afc",
        "order": 3,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "+",
        "tooltip": "",
        "color": "",
        "bgcolor": "grey",
        "className": "",
        "icon": "",
        "payload": "60",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1190,
        "y": 720,
        "wires": [
            [
                "704222eaaf2684b9"
            ]
        ]
    },
    {
        "id": "911f14038ecb60c1",
        "type": "ui_button",
        "z": "c7548924a1f35307",
        "name": "decrease minutes",
        "group": "40ed84cd3c966afc",
        "order": 13,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "-",
        "tooltip": "",
        "color": "",
        "bgcolor": "grey",
        "className": "",
        "icon": "",
        "payload": "-60",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1190,
        "y": 760,
        "wires": [
            [
                "704222eaaf2684b9"
            ]
        ]
    },
    {
        "id": "704222eaaf2684b9",
        "type": "function",
        "z": "c7548924a1f35307",
        "name": "change init timer value",
        "func": "// set initial timer value\nconst newInitTimerValue = global.get(\"initTimerValue\") + msg.payload;\n// upper limit is 99:59\nif(newInitTimerValue > 5999){\n    global.set(\"initTimerValue\", 5999)\n    global.set(\"timerValue\", 5999)\n}\n// lower limit is 00:01\nelse if(newInitTimerValue < 1) {\n    global.set(\"initTimerValue\", 1)\n    global.set(\"timerValue\", 1)\n} else {\n    global.set(\"initTimerValue\", newInitTimerValue)\n    global.set(\"timerValue\", newInitTimerValue)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 780,
        "wires": [
            [
                "45a0fd8edf196e38"
            ]
        ]
    },
    {
        "id": "c02f08317ca172fb",
        "type": "ui_button",
        "z": "c7548924a1f35307",
        "name": "increase seconds",
        "group": "40ed84cd3c966afc",
        "order": 5,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "+",
        "tooltip": "",
        "color": "",
        "bgcolor": "grey",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1190,
        "y": 800,
        "wires": [
            [
                "704222eaaf2684b9"
            ]
        ]
    },
    {
        "id": "4d8feee157da41a3",
        "type": "ui_button",
        "z": "c7548924a1f35307",
        "name": "decrease seconds",
        "group": "40ed84cd3c966afc",
        "order": 15,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "-",
        "tooltip": "",
        "color": "",
        "bgcolor": "grey",
        "className": "",
        "icon": "",
        "payload": "-1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1190,
        "y": 840,
        "wires": [
            [
                "704222eaaf2684b9"
            ]
        ]
    },
    {
        "id": "30eb7b4c07e12f29",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "enable start",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 640,
        "wires": [
            [
                "e69fb31ca5534ecd"
            ]
        ]
    },
    {
        "id": "d4bd4b6504cb6cca",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "change enabled param",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "enabled",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "isBeepActive",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 680,
        "wires": [
            [
                "0fb4a6fa07419e91",
                "911f14038ecb60c1",
                "c02f08317ca172fb",
                "4d8feee157da41a3",
                "04abf9cf62ca3807"
            ]
        ]
    },
    {
        "id": "c692fdd3450d2861",
        "type": "ui_text",
        "z": "c7548924a1f35307",
        "group": "40ed84cd3c966afc",
        "order": 9,
        "width": "1",
        "height": "1",
        "name": "delimiter",
        "label": "",
        "format": "{{msg.payload.delimiter}}",
        "layout": "row-center",
        "className": "",
        "x": 1600,
        "y": 180,
        "wires": []
    },
    {
        "id": "563a3ac98f314012",
        "type": "ui_text",
        "z": "c7548924a1f35307",
        "group": "40ed84cd3c966afc",
        "order": 10,
        "width": "1",
        "height": "1",
        "name": "seconds",
        "label": "",
        "format": "{{msg.payload.seconds}}",
        "layout": "row-center",
        "className": "",
        "x": 1600,
        "y": 220,
        "wires": []
    },
    {
        "id": "04abf9cf62ca3807",
        "type": "ui_switch",
        "z": "c7548924a1f35307",
        "name": "",
        "label": "Beep",
        "tooltip": "",
        "group": "40ed84cd3c966afc",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1150,
        "y": 900,
        "wires": [
            [
                "0982f78ef1cd116b"
            ]
        ]
    },
    {
        "id": "0982f78ef1cd116b",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "set isBeepActive",
        "rules": [
            {
                "t": "set",
                "p": "isBeepActive",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "80bf1c967ba60d92",
        "type": "ui_text",
        "z": "c7548924a1f35307",
        "group": "52d8eaaf74a48a0e",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Segment 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 90,
        "y": 1000,
        "wires": []
    },
    {
        "id": "de246bd0ceeac595",
        "type": "ui_dropdown",
        "z": "c7548924a1f35307",
        "name": "Color segment 1",
        "label": "",
        "tooltip": "",
        "place": "Green",
        "group": "52d8eaaf74a48a0e",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Green",
                "value": 9,
                "type": "num"
            },
            {
                "label": "Red",
                "value": 10,
                "type": "num"
            },
            {
                "label": "Yellow",
                "value": 11,
                "type": "num"
            },
            {
                "label": "Blue",
                "value": 12,
                "type": "num"
            },
            {
                "label": "Orange",
                "value": 13,
                "type": "num"
            },
            {
                "label": "White",
                "value": 15,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 860,
        "y": 1000,
        "wires": [
            [
                "97ab444960b10cad"
            ]
        ]
    },
    {
        "id": "27339a356741122c",
        "type": "ui_dropdown",
        "z": "c7548924a1f35307",
        "name": "Color segment 2",
        "label": "",
        "tooltip": "",
        "place": "Green",
        "group": "52d8eaaf74a48a0e",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Green",
                "value": 144,
                "type": "num"
            },
            {
                "label": "Red",
                "value": 160,
                "type": "num"
            },
            {
                "label": "Yellow",
                "value": 176,
                "type": "num"
            },
            {
                "label": "Blue",
                "value": 192,
                "type": "num"
            },
            {
                "label": "Orange",
                "value": 208,
                "type": "num"
            },
            {
                "label": "White",
                "value": 240,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 860,
        "y": 1060,
        "wires": [
            [
                "0e656868b8b7a3e8"
            ]
        ]
    },
    {
        "id": "b7ec40955c0805cd",
        "type": "ui_text",
        "z": "c7548924a1f35307",
        "group": "52d8eaaf74a48a0e",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Segment 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 90,
        "y": 1060,
        "wires": []
    },
    {
        "id": "66b0baa57ed5169b",
        "type": "ui_text",
        "z": "c7548924a1f35307",
        "group": "52d8eaaf74a48a0e",
        "order": 5,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Segment 3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 90,
        "y": 1120,
        "wires": []
    },
    {
        "id": "894a32bf14773296",
        "type": "ui_text",
        "z": "c7548924a1f35307",
        "group": "52d8eaaf74a48a0e",
        "order": 7,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Segment 4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 90,
        "y": 1180,
        "wires": []
    },
    {
        "id": "0df9df7f7ed5fbf8",
        "type": "ui_text",
        "z": "c7548924a1f35307",
        "group": "52d8eaaf74a48a0e",
        "order": 9,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Segment 5",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 90,
        "y": 1240,
        "wires": []
    },
    {
        "id": "97ab444960b10cad",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "set segment 1 color",
        "rules": [
            {
                "t": "set",
                "p": "segment1Color",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "75e22d050209bc66",
        "type": "ui_dropdown",
        "z": "c7548924a1f35307",
        "name": "Color segment 5",
        "label": "",
        "tooltip": "",
        "place": "Red",
        "group": "52d8eaaf74a48a0e",
        "order": 10,
        "width": "3",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Green",
                "value": 9,
                "type": "num"
            },
            {
                "label": "Red",
                "value": 10,
                "type": "num"
            },
            {
                "label": "Yellow",
                "value": 11,
                "type": "num"
            },
            {
                "label": "Blue",
                "value": 12,
                "type": "num"
            },
            {
                "label": "Orange",
                "value": 13,
                "type": "num"
            },
            {
                "label": "White",
                "value": 15,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 860,
        "y": 1240,
        "wires": [
            [
                "3dc2b9ba087b9724"
            ]
        ]
    },
    {
        "id": "4742e00fdc217603",
        "type": "ui_dropdown",
        "z": "c7548924a1f35307",
        "name": "Color segment 3",
        "label": "",
        "tooltip": "",
        "place": "Yellow",
        "group": "52d8eaaf74a48a0e",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Green",
                "value": 9,
                "type": "num"
            },
            {
                "label": "Red",
                "value": 10,
                "type": "num"
            },
            {
                "label": "Yellow",
                "value": 11,
                "type": "num"
            },
            {
                "label": "Blue",
                "value": 12,
                "type": "num"
            },
            {
                "label": "Orange",
                "value": 13,
                "type": "num"
            },
            {
                "label": "White",
                "value": 15,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 860,
        "y": 1120,
        "wires": [
            [
                "a8fdb9f1b14a523d"
            ]
        ]
    },
    {
        "id": "c761038cce512a01",
        "type": "ui_dropdown",
        "z": "c7548924a1f35307",
        "name": "Color segment 4",
        "label": "",
        "tooltip": "",
        "place": "Orange",
        "group": "52d8eaaf74a48a0e",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Green",
                "value": 144,
                "type": "num"
            },
            {
                "label": "Red",
                "value": 160,
                "type": "num"
            },
            {
                "label": "Yellow",
                "value": 176,
                "type": "num"
            },
            {
                "label": "Blue",
                "value": 192,
                "type": "num"
            },
            {
                "label": "Orange",
                "value": 208,
                "type": "num"
            },
            {
                "label": "White",
                "value": 240,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 860,
        "y": 1180,
        "wires": [
            [
                "2201005d27eaab8b"
            ]
        ]
    },
    {
        "id": "0e656868b8b7a3e8",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "set segment 2 color",
        "rules": [
            {
                "t": "set",
                "p": "segment2Color",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "a8fdb9f1b14a523d",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "set segment 3 color",
        "rules": [
            {
                "t": "set",
                "p": "segment3Color",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "2201005d27eaab8b",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "set segment 4 color",
        "rules": [
            {
                "t": "set",
                "p": "segment4Color",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "3dc2b9ba087b9724",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "set segment 5 color",
        "rules": [
            {
                "t": "set",
                "p": "segment5Color",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "038e1a1aa97b5f5e",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "set segment 1 color",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "segment1Color",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1000,
        "wires": [
            [
                "de246bd0ceeac595"
            ]
        ]
    },
    {
        "id": "7c519c7ae3935c56",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "set initial smartlight values",
        "rules": [
            {
                "t": "set",
                "p": "segment1Color",
                "pt": "global",
                "to": "9",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "segment2Color",
                "pt": "global",
                "to": "144",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "segment3Color",
                "pt": "global",
                "to": "11",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "segment4Color",
                "pt": "global",
                "to": "208",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "segment5Color",
                "pt": "global",
                "to": "10",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "port",
                "pt": "global",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "63",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1120,
        "wires": [
            [
                "038e1a1aa97b5f5e",
                "6aa225252a777d44",
                "78b482d254e66895",
                "2cc48d9a394a51b4",
                "39b5328293d11f62",
                "04c8db1a820b9bde",
                "88598bc4ebaad868"
            ]
        ]
    },
    {
        "id": "6aa225252a777d44",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "set segment 2 color",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "segment2Color",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1060,
        "wires": [
            [
                "27339a356741122c"
            ]
        ]
    },
    {
        "id": "78b482d254e66895",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "set segment 3 color",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "segment3Color",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1120,
        "wires": [
            [
                "4742e00fdc217603"
            ]
        ]
    },
    {
        "id": "2cc48d9a394a51b4",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "set segment 4 color",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "segment4Color",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1180,
        "wires": [
            [
                "c761038cce512a01"
            ]
        ]
    },
    {
        "id": "39b5328293d11f62",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "set segment 5 color",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "segment5Color",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1240,
        "wires": [
            [
                "75e22d050209bc66"
            ]
        ]
    },
    {
        "id": "4511c2ee6e5e925d",
        "type": "ui_text",
        "z": "c7548924a1f35307",
        "group": "1cf017da8f2453fc",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "CMTK Port",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 90,
        "y": 1360,
        "wires": []
    },
    {
        "id": "04c8db1a820b9bde",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "set port",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "port",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1360,
        "wires": [
            [
                "e4de483c0137c336"
            ]
        ]
    },
    {
        "id": "e4de483c0137c336",
        "type": "ui_dropdown",
        "z": "c7548924a1f35307",
        "name": "Port",
        "label": "",
        "tooltip": "",
        "place": "1",
        "group": "1cf017da8f2453fc",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1",
                "value": "1",
                "type": "str"
            },
            {
                "label": "2",
                "value": "2",
                "type": "str"
            },
            {
                "label": "3",
                "value": "3",
                "type": "str"
            },
            {
                "label": "4",
                "value": "4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 830,
        "y": 1360,
        "wires": [
            [
                "6d604d6a510ef397"
            ]
        ]
    },
    {
        "id": "6d604d6a510ef397",
        "type": "change",
        "z": "c7548924a1f35307",
        "name": "set port",
        "rules": [
            {
                "t": "set",
                "p": "port",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "d249ad4a4f04c14e",
        "type": "function",
        "z": "c7548924a1f35307",
        "name": "set url",
        "func": "msg.url = \"http://172.128.0.6:8080/iolink/v1/devices/master1port\" + global.get(\"port\") + \"/processdata/value\"\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 80,
        "wires": [
            [
                "3b2a6beff4858e1e"
            ]
        ]
    },
    {
        "id": "002607eb6f997017",
        "type": "ui_text",
        "z": "c7548924a1f35307",
        "group": "b8c1487c39726366",
        "order": 11,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Brightness",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 90,
        "y": 1460,
        "wires": []
    },
    {
        "id": "88598bc4ebaad868",
        "type": "ui_slider",
        "z": "c7548924a1f35307",
        "name": "brightness",
        "label": "",
        "tooltip": "",
        "group": "b8c1487c39726366",
        "order": 12,
        "width": "4",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "127",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 1460,
        "wires": [
            [
                "780e779096bb68d8"
            ]
        ]
    },
    {
        "id": "780e779096bb68d8",
        "type": "function",
        "z": "c7548924a1f35307",
        "name": "set brightness",
        "func": "// set brightness of the smartlight colors\nmsg.url = \"http://172.128.0.6:8080/iolink/v1/devices/master1port\" + global.get(\"port\") + \"/parameters/81/subindices/0/value\"\nmsg.payload = {\"value\":[msg.payload, msg.payload, msg.payload]}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1460,
        "wires": [
            [
                "f2ec19716e215e08"
            ]
        ]
    },
    {
        "id": "f2ec19716e215e08",
        "type": "http request",
        "z": "c7548924a1f35307",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1090,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "4c5b0dcbf382d854",
        "type": "ui_spacer",
        "z": "c7548924a1f35307",
        "name": "spacer",
        "group": "40ed84cd3c966afc",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "9939715d34fb62b2",
        "type": "ui_spacer",
        "z": "c7548924a1f35307",
        "name": "spacer",
        "group": "40ed84cd3c966afc",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "646feed2fa018535",
        "type": "ui_spacer",
        "z": "c7548924a1f35307",
        "name": "spacer",
        "group": "40ed84cd3c966afc",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "902f324d71adbd62",
        "type": "ui_spacer",
        "z": "c7548924a1f35307",
        "name": "spacer",
        "group": "40ed84cd3c966afc",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "286e1093fd9a5355",
        "type": "ui_spacer",
        "z": "c7548924a1f35307",
        "name": "spacer",
        "group": "40ed84cd3c966afc",
        "order": 1,
        "width": "4",
        "height": "1"
    },
    {
        "id": "03feb59446eeb4b7",
        "type": "ui_spacer",
        "z": "c7548924a1f35307",
        "name": "spacer",
        "group": "40ed84cd3c966afc",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "40ed84cd3c966afc",
        "type": "ui_group",
        "name": "Timer",
        "tab": "d9dd21dc7083fe3b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "52d8eaaf74a48a0e",
        "type": "ui_group",
        "name": "Color",
        "tab": "2f47dd4e8e589625",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1cf017da8f2453fc",
        "type": "ui_group",
        "name": "Port",
        "tab": "2f47dd4e8e589625",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b8c1487c39726366",
        "type": "ui_group",
        "name": "Brightness",
        "tab": "2f47dd4e8e589625",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d9dd21dc7083fe3b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2f47dd4e8e589625",
        "type": "ui_tab",
        "name": "Smartlight Settings",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]